{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center text-black d-flex flex-column align-items-center">
            <h2 class="logo-font">Newsletter</h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-black text-center mb-3">
            <h3 class="my-sm-2 my-md-3 my-lg-5 font-weight-bold">Meaning Of Colors In Jewelry</h3>
            <p class="col-12 col-md-8 offset-md-2 my-sm-2 my-md-3 my-lg-5">Aside from deep saturation and high
                brilliance, the spectrum of
                colors in
                gemstones has much more to
                offer. Each stone, unique in its own way, reveals a vibrant hue. Among all features the gemstone has to
                offer, color is the most cherished, praised and valued. Colors create an emotional connection to the
                design and style of the jewelry.
            </p>
            <p class="col-sm-12 col-md-8 offset-md-2 my-sm-2 my-md-3 my-lg-5">
                While certain colors give you spiritual enlightenment, others bring happiness and romance to your life.
                The symbolic meaning of colors in jewelry inspires and illuminates positive energy. Therefore, knowing
                what the diverse meanings of various colored stones convey becomes exciting and influential, and adds
                extra vibrant colors to your life.
            </p>
            <img src="{{ MEDIA_URL }}jewelry_colors.jpg" height="600" width="400" class="img-fluid"
                alt="information about jewelry colors">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-black text-center mb-5">
            <h3 class="my-sm-2 my-md-3 font-weight-bold">Latest News from Us</h3>
            <p class="my-sm-2 my-md-3">Want to see more article like this? Subscribe to get the to know about
                exciting new designs, special
                events, and much more.</p>
            <div class="py-3">
                <!-- subscribe -->
                <a class="btn btn-outline-info" href="#" aria-label="Subscribe">Subscribe</a>
                or
                <!-- unsubscribe -->
                <a class="btn btn-outline-info" href="#" aria-label="Unsubscribe">Unsubscribe</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}