{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- home page heading -->
        <div class="col-12 col-md-6 my-auto mt-5">
            <h1 class="logo-font mt-5 text-black">
                Welcome to Kosmo Creations
            </h1>
            <p class="text-black">Dedication and creativity are what we aim for.
            </p>
            <!-- button that will lead to the all jewelries page -->
            <div class="my-5">
                <h4>
                    <a href="{% url 'jewelries' %}"
                        class="btn-buy-now btn btn-info btn-lg rounded-1 text-uppercase py-1">explore
                        the collection
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}