{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-sm mt-2">
    <div class="row">
        <!-- home page heading -->
        <div class="col-12 col-md-6 my-auto">
            <h1 class="logo-font mt-5 text-black">
                Welcome to Kosmo Creations
            </h1>
            <p class="text-black">Dedication and creativity are what we aim for.
            </p>
            <!-- button that will lead to the all jewelries page -->
            <div class="my-5">
                <h4>
                    <a href="{% url 'jewelries' %}"
                        class="btn-buy-now btn btn-info btn-lg rounded-1 text-uppercase py-1">explore
                        the collection
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container quotes-container text-black mt-5 content-container">
    <section class="web-marketing">
        <div class="row">
            <div class="col-12 page-header mb-4">
                <h3 class="text-uppercase">Stay in touch:</h3>
                <hr class="block-divider block-divider--short">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>Social</h4>
                <a href="https://www.facebook.com/kosmocreationshandmadejewellery" target="_blank"
                    class="text-decoration-none text-info"> Follow us on
                    Facebook! <i class="fa-brands fa-facebook"></i>
                </a>
                <div class="row">
                    <div class="col">
                        <br>
                        <h4>Any questions?</h4>
                        <p class="mt-3">
                            <a href="{% url 'contact' %}" class="btn rounded-1 text-uppercase py-1 btn-outline-info"
                                aria-label="contact">Contact us</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <h4>What's in our Newsletter</h4>
                <p class="mt-3">
                    <a href="{% url 'newsletter' %}" class="btn btn-info rounded-1 text-uppercase py-2"
                        aria-label="newsletter">
                        View Newsletter
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
                <small>
                    <a target="_blank" class="text-decoration-none btn btn-outline-gray text-black float-end mb-5"
                        href="https://www.privacypolicygenerator.info/live.php?token=ZLzEBIxvrHck50XLwhd0NSZWJcixEwGs">
                        Privacy Policy
                    </a>
                </small>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block postloadjs %}
<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}