{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 my-auto mt-5">
            <h1 class="display-4 logo-font mt-5 text-black">
                Welcome to Kosmo Creations
            </h1>
            <p class="text-black">Let our one of a kind handmade jewelry take away your breath and make your
                loved one
                happy
            </p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'jewelries' %}"
                        class="shop-now-button btn btn-lg rounded-2 text-uppercase py-1">explore the collection</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}