{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex flex-column align-items-center text-black">
            <h2 class="logo-font">my wishlist</h2>
            <hr class="w-50">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 text-center">
            {% if wishlist_items %}
            <div class="mb-5">
                <ul>
                    {% for item in items %}
                    <li>
                        <a href="{{ item.jewelry_url }}" target="_blank">{{ item.jewelry_name }}</a>
                        - {{ item.jewelry_description }}
                        <a href="{% url 'remove_from_wishlist' item.id %}">Remove</a>
                    </li>
                    {% endfor %}
                </ul>

                <form method="post">
                    {% csrf_token %}
                    <label for="jewelry_name">Jewelry name:</label>
                    <input type="text" name="jewelry_name" required>
                    <br>
                    <label for="jewelry_description">Jewelry description:</label>
                    <textarea name="jewelry_description" required></textarea>
                    <br>
                    <label for="jewelry_url">Jewelry URL:</label>
                    <input type="url" name="jewelry_url" required>
                    <br>
                    <input type="submit" value="Add to wishlist">
                </form>
            </div>
            {% else %}
            <p class="text-black">Your Wishlist is Empty</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}