{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex flex-column align-items-center text-black">
            <h2 class="logo-font">my wishlist</h2>
            <hr class="w-50">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 text-center">
            {% for item in wish_items %}
            <div class="wishlist-card col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-2 wish-img-section">
                        {% if item.jewelry.image %}
                        <img src="{{ item.jewelry.image.url }}" alt="{{ jewelry.name }}" class="w-100">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ jewelry.name }}" class="w-100">
                        {% endif %}
                    </div>
                    <div class="col-md-10 wish-jewelry-section">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-black">{{ item.jewelry.name }}</p>
                                <p class="text-black">€{{ item.jewelry.price }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'jewelries' %}"
                            class="btn btn-outline-info btn-buy-now rounded-1 mt-3 mt-md-5 me-md-3">
                            <span class="icon">
                                <i class="fa-solid fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Continue Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-info rounded-1 btn-buy-now text-uppercase mt-sm-3 mt-md-5"
                            value="Add to cart">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}