/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/background-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: white;
    font-family: 'Barlow 400';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.category-badge>span.badge:hover,
.btn-buy-now:hover {
    background: black !important;
    color: #0dcaf0 !important;
}

/* back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 50px;
    right: 15px;
}

.btt-button:hover {
    background: #0dcaf0 !important;
}

.btt-link,
.update-link,
.delete-link {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* message toasts from bootstrap */
.message-container {
    position: fixed;
    top: 82px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.shopping-cart-notification-wrapper {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

form>div {
    margin-bottom: 10px;
}

/* payment-form on checkout page */
#payment-form div {
    margin-bottom: 10px;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #198754;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    text-decoration: none;
}

/* jewelry add/edit form img field */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* mailchimp */
#mc_embed_signup>form {
    margin: 0 !important;
}

/* sticky footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    margin-top: 30px;
}

/* -------------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 220px;
    }

    .btt-button {
        bottom: 200px;
    }
}

/* add padding top to images for mobile view */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 120px);
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    /* make toast message fit to small screens */
    .message-container {
        width: 300px;
    }
}