<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown d-lg-none">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black me-5">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="{% url 'jewelries' %}"
                id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Jewelries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'jewelries' %}" class="dropdown-item">All Jewelries</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black me-5"
                href="{% url 'jewelries' %}?category=bracelet" id="bracelet-link" aria-haspopup="true"
                aria-expanded="false">
                Bracelet
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black me-5"
                href="{% url 'jewelries' %}?category=bracelet" id="necklace-link" aria-haspopup="true"
                aria-expanded="false">
                Necklace
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="{% url 'jewelries' %}?category=anklet"
                id="anklet-link" aria-haspopup="true" aria-expanded="false">
                Anklet
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black me-5"
                href="{% url 'jewelries' %}?category=gift set" id="set-link" aria-haspopup="true" aria-expanded="false">
                Gift Set
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'jewelries' %}?category=offers"
                id="specials-link" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
        </li>
    </ul>
</div>