{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner_content %}

<h2 class="text-black text-center my-3">{% trans "Login" %}</h2>
<hr class="text-black">

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="text-black">{% blocktrans with site.name as site_name %}Please login with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">register</a>
  for a {{ site_name }} account and login below:{% endblocktrans %}</p>

<div class="socialaccount_ballot text-black">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-black">{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="row">
  <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <form class="login text-black text-start mb-2" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="text-center">
        <a href="{% url 'home' %}" class="btn btn-outline-info rounded-1">Home</a>
        <button class="primaryAction" type="submit">{% trans "Login" %}</button>
      </div>
      <p class="mt-2">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </p>
    </form>
  </div>
</div>




{% endblock %}