{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h2 class="text-black text-center my-3">{% trans "Logout" %}</h2>
<hr class="text-black">

<p class="text-black">{% trans 'Are you sure you want to sign out?' %}</p>

<div class="row">
  <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <form method="post" action="{% url 'account_logout' %}" class="text-black">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a href="{% url 'home' %}" class="btn btn-outline-info rounded-1">Home</a>
      <button type="submit">{% trans 'Logout' %}</button>
    </form>
  </div>
</div>




{% endblock %}