{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<h2 class="text-black text-center my-3">{% trans "Set Password" %}</h2>
<hr class="text-black">

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-black">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}" />
        </form>
    </div>
</div>
{% endblock %}