{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="thoughtful handmade jewelry gift for any special occasions, jewelry including bracelet, necklace, anklet, ankel bracelet and gift sets, online shopping for last minute gifts, online shopping for custome made gift">
    <meta name="keywords"
        content="crystal necklace, crystal bracelet, crystal anklet, crystal ankle bracelet, gift idea for mother, gift idea for her, gift idea for teacher, gift idea for wife, gift idea for sisters, gift idea for him, gift idea for husband, gift idea for grandmother, special occasions, christams gift, thanksgiving gift, anniversary gift, graduation gift, new mom gift, name day gift, birthday gift, custom made jewelry, thoughtful gift, last minute gift">
    <meta name="author" content="Maya Claveau" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- jquery and bootstrap CSS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4c01cc9050.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>

    <!-- bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Kosmo Creations {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- header -->
    <header class="container-fluid fixed-top bg-white">
        <div id="topnav" class="row navbar navbar-expand-md navbar-light pt-lg-2 d-none d-lg-flex">
            <!-- search form  -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'jewelries' %}">
                    <div class="input-group w-50">
                        <input class="form-control border rounded-1" type="text" name="q" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="form-control btn border btn-info rounded-1" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- logo  -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center">
                <a href="{% url 'home' %}" class="navbar-brand main-logo-link">
                    <h2 class="logo-font text-black mt-4"><strong>Kosmo</strong><span class="text-black"></span>
                        Creations</span></h2>
                </a>
            </div>
            <!-- account with dropdown menu  -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center pe-2">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <!-- if user is not logged in, display register and login buttons, if logged in and if is superuser, then display product management btn, otherwise display my profile and logout btns -->
                        <ul class="dropdown-menu border-0">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a href="" class="dropdown-item" type="button">Product Management</a></li>
                            {% endif %}
                            <li><a href="" class="dropdown-item" type="button">My Profile</a></li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item" type="button">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- display shopping bag icon, if there is items in it, grand total will be displayed as well  -->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="">
                            <div class="text-center pe-2">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-info w-100">
                <button class="navbar-toggler border-black ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1 bg-black"><i class="fa-solid fa-truck-fast"></i> Free Delivery on orders over
                    €{{ free_shipping_threshold }}!</h4>
            </div>
        </div>
    </header>


    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <!-- <script src="{% static 'js/base.js' %}" type="module"></script> -->
    {% endblock %}

</body>

</html>